<% include partials/header %>


<div class="container">
    <header class="jumbotron">
        <h1>This is the coolest landing, dude</h1>

        <a href="/campgrounds">Check the campgrounds!!</a>
</header>

</div>

<% include partials/footer %> 

