<% include partials/header %>

<h1>Sign up you motherF@#&&@!</h1>

<form method="POST" action="/register">
    <label for="username">User Name:</label>
    <input type="text" name="username">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <button class="btn btn-success" >Sign Up</button>
</form>

<% include partials/footer %>